doctype html
html(lang="en")
    head
        include ../layouts/_head
    body
        include ../layouts/_header
        main
            article.main.container.aboutmain
                h3.homemain__title ჩვენ შესახებ
                section.aboutmain__section
                    p ეკოლოგიურად ხის სათამაშოები დამზადებულია საქართველოში, გამოყენებულია , წყლის ბაზაზე დამზადებული საღებავები რომელიც 100% უსაფრთხოა თქვენი პატარებისთვის

                    
        include ../layouts/_footer
        